#header{width:100%;height: 130px;background: #333;box-shadow: 0px 2px 4px gray;}
body{
	background-color: skyblue;
	font-size: 12px; font-family: airal;
	margin: 0px;
}
h1, h2{
	text-align: center-right;
	color: #0c755b;
	padding:10px;
}
p{
	font-size: 20px; 
	text-align: center-right;
	padding:10px;
}

iframe{ 
	Padding: 30px;
}




footer{
	text-align: center;
	Background: gray;
}